@import '../../../styles/colorsAndFonts.scss';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/* main body section */
#bioPage {
  text-align: center;
  border: .5px solid $color7;
  width: 36em;
  border-radius: 5px;
  margin: auto;
  margin-top: 5em;
  box-shadow: 1px 1px 3px $color1;
}

#aboutH1 {
  font-family: $font7;
  color:  $color7;
  padding: 5px;
  justify-content: center;
  font-size: 3em;
}

#bio {
  padding: 20px;
  width: 36em;
  margin: auto;
  text-align: center;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.h3 {       
  color: $color7;
  font-style: italic;
  margin-top: -15px !important;
  margin-left: -15px !important;
  font-family: $font2;
  font-size: 21px !important;
}