/* 
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Fjalla One', sans-serif;
 */

* {
    margin: 0;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

body {
    margin: 0;
}

.colorful {
    /* background:
        -webkit-linear-gradient(315deg, hsla(131.32, 3.35%, 67.98%, 1) 0%, hsla(131.32, 3.35%, 67.98%, 0) 70%),
        -webkit-linear-gradient(65deg, hsla(221.87, 93.03%, 49.46%, 1) 10%, hsla(221.87, 93.03%, 49.46%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(263.01, 8.7%, 40.53%, 1) 15%, hsla(263.01, 8.7%, 40.53%, 0) 80%),
        -webkit-linear-gradient(205deg, hsla(318.01, 0%, 94.05%, 1) 100%, hsla(318.01, 0%, 94.05%, 0) 70%);
    background:
        linear-gradient(135deg, hsla(131.32, 3.35%, 67.98%, 1) 0%, hsla(131.32, 3.35%, 67.98%, 0) 70%),
        linear-gradient(25deg, hsla(221.87, 93.03%, 49.46%, 1) 10%, hsla(221.87, 93.03%, 49.46%, 0) 80%),
        linear-gradient(315deg, hsla(263.01, 8.7%, 40.53%, 1) 15%, hsla(263.01, 8.7%, 40.53%, 0) 80%),
        linear-gradient(245deg, hsla(318.01, 0%, 94.05%, 1) 100%, hsla(318.01, 0%, 94.05%, 0) 70%); */

    /* background: #eee; */
    /* opacity: .5; */
    background-image: url();
    background-repeat: no-repeat;
    padding-bottom: 250px;
} 

/* nav section */
    #mainNav {
        height: 3em;
        margin-bottom: 40px;
        margin-top: 0;
        /* background-color: #a2dfe7; */
        /* background-color: rgb(50, 94, 208); */
        background-color: rgb(51, 51, 51);
        margin: 0;
        padding: 0;
        position: ;
        width: 100%;
        position: sticky;
        top: 0;
    }

    #mainNav:hover {
        background-image: linear-gradient(rgb(51, 51, 51), #eee);
        /* opacity: .6; */
        transition: 1.2s;
    }


    .navBar {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-flow: wrap row;
        width: 100%;
        justify-content: space-between;
    }

    #navItems {
        
    }

    ul {
        display: block;
        float: right; */
        list-style-type: none;
        padding: 0;
        flex-grow: 1;
    }

    li {
        line-height: 3em;
        padding: 14px;
        display: inline;
        text-transform: uppercase;
    }

    #contact {
        color: rgb(128, 167, 250);
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 3px;
    }

    li a {
        color: #eee;
        font-family: 'Raleway', sans-serif;
        padding: 3px;
    }

    #josh1 {
        color: rgb(128, 167, 250);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }

    .jpan {
        flex-grow: 2;
        padding: 8px;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 3em;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-family: 'Raleway', sans-serif;
        color: #eee;
        border: 1px solid #eee;
        border-radius: 4px;
    }

    li a:hover {
        transition: 1s;
        color: rgb(92, 90, 90);
        background-color: rgb(255, 253, 253);
        background-color: #eee;
        border-radius: 5px;
        
    }

    .jpan:hover {
        transition: 1s;
        border-radius: 7px;
        color: rgb(112, 110, 110);
        background-color: #eee;
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
    }



    
    /* Social Icons Vertical left  */
    .socialIconsDiv {
        padding: 10px;
        position: fixed;
    }

    .socialA {
        display: flex;
        flex-direction: column;
    }

    .socialA:hover {
        background-color: transparent;
        transform: scale(1.3);
        transition: .5s;
    }

    .social-button {
        color: rgb(51, 51, 51);
    }

    .social-button:hover {
        color: rgb(131, 131, 131);
    }






/* main body section */
    .topPage {

    }

    .midPage {
        height: 100px;
        display: flex;
    }

    #technologiesPage {
      
    }

    #name {
        text-align: center;
        border: 1.5px solid #eee;
        width: 22em;
        border-radius: 5px;
        margin: auto;
        margin-top: 10em;
    }

    #name:hover {
        
    }

    #aboutH1 {
        font-family: 'Fjalla One', sans-serif;
        background-color: #eee;
        color:  rgb(112, 110, 110);
        padding: 5px;
        justify-content: center;
        float: center;
        font-size: 3em;
    }

    h1:hover {
        transform: scale(1.08);
        transition: 1.8s;
        border-radius: 7px;
        color: rgb(112, 110, 110);
        background-color: #eee;
        cursor: pointer;
    }

    #techProf {
        /* font-family: 'Fjalla One', sans-serif; */
        /* background-color: #eee; */
        /* background-color: #eee; */
        /* border-radius: 3px; */
        /* background-color: rgb(177, 175, 175); */
        /* color:  rgb(112, 110, 110); */
        /* color:  transparent; */
        /* padding: 5px;
        margin: auto;
        margin-top: 90px;
        font-size: 3em; */
        /* webkit-text-stroke-width: .4px; */
        /* -webkit-text-stroke-color:  black;  */ 


        font-family: 'Fjalla One', sans-serif;
        background-color:transparent;
        border-radius: 3px;
        color:  rgb(245, 245, 245);
        padding: 5px;
        text-align: center;
        margin-bottom: 0;
        margin: auto;
        margin-top: 90px;
        border: 1px solid  rgb(232, 231, 231);
        font-size: 3em;
        } 


    #techSpan {
       
    }

    #josh2 {
        font-family: 'Fjalla One', sans-serif;
        background-color: #eee;
        /* background-color: rgb(177, 175, 175); */
        /* color:  rgb(214, 80, 80); */
        color:rgb(128, 167, 250);
        padding: 5px;
        justify-content: center;
        float: center;
        -webkit-text-stroke-color:  transparent;
    }

    h3 {       
        color: rgb(112, 110, 110);
        padding-top: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
    }

    #bio {
        padding: 20px;
        width: 18em;
        margin: auto;
        text-align: center;
    }


    /* Tech page FLEX */
    .tech-container {
        /* background-color: rgb(128, 167,250); */
        padding: 55px;
        height: 20em;
        border-bottom: 4px solid background-color: rgb(51, 51, 51);
    }

    #triangleBackground {
        background-image: url(./imgs/trianglify.svg);
    }

    .container {
        margin: auto;
        margin-top: 70px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    /* hr {
        width:65%;
        margin: auto;
        margin-top: 20px;
        opacity: .4;
       
    } */

    .techImg {
        width: 3.5em;
        align-content: center;
        display: block;
        margin: auto;
    }

    .techH3 {
        text-align: center;
        color: #eee;
        padding: 20px;
    }

    .techImg:hover {
        transform: scale(1.3);
        transition: .5s;
    }

    .techImgDiv {
        width: 20em;
        justify-content: center;
        padding-bottom: 2em;
    }


    



    /* projects JS */

    .projects-page {
        background-color: rgb(50, 115, 175);
    }

    #projectsDiv {
        display: flex;
        flex-flow: nowrap row;
        /* border-right: 4px solid #eee; 
        border-left: 4px solid #eee;  */
    } 

    #projectsH1 {
        font-family: 'Fjalla One', sans-serif;
        background-color: rgb(50, 115, 175);
        border-radius: 3px;
        color:  rgb(232, 231, 231);
        padding: 5px;
        text-align: center;
        margin-bottom: 0;
        margin: auto;
        margin-top: 90px;
        border: 1px solid  rgb(232, 231, 231);
        font-size: 3em;
        /* display: inline; */
        /* display: inline;
        border-radius: 7px; */
    } 

    .projectsH {

    }

    #projectsPage {
        margin: auto;
        background-image: linear-gradient(rgb(50, 115, 175), #eee);
        /* position: relative; */
        /* top: 1500px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        align-content: space-between;
    }

    .jsPage {
        padding-top: 100px;
        /* border-top: 4px solid #eee;  */
    }

    .card {
        flex-wrap: wrap;
        text-align: center;
        min-width: 250px;
        min-height: 300px;
        max-width: 17em;
        background-color: #eee;
        padding: 30px;
        margin: 10px;
        border-radius: 9px;
        line-height: 2.0;
        margin: 20px;
        margin-bottom: 100px;
    }

    .card:hover {
        transform: scale(1.10);
        transition: 1s;
    }

    .titleH2 {
        /* font-family: 'Merriweather', serif;
        font-family: 'Rubik', sans-serif; */
        text-transform: uppercase;
        font-family: 'Fjalla One', sans-serif;
        /* background-color: rgb(50, 115, 175); */
        background-color:rgb(51, 51, 51);
        border-radius: 3px;
        color:  rgb(232, 231, 231);
        padding: 5px;
        border: 1px solid  rgb(232, 231, 231);
        border-radius: 7px;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .projectImages {
        width: 40%;
        box-shadow: 5px 5px 5px 5px lightgrey;
    }
   
    .jsTech {
        font-family: 'Merriweather', serif;
    }

    .jsAvail {
        font-family: 'Merriweather', serif;
    }

    .jsDescrip {
        font-family: 'Merriweather', serif;
    }

    .jsLinks {
        color: blue;
        font-family: 'Merriweather', serif;
    }





/* footer section */
    footer {
        margin: auto;
        flex: 1;
        padding: 10px;
        background-color:  rgb(56, 104, 207);
    }

    

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}











