@import '../../../styles/colorsAndFonts.scss';


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    #jpOnLoadDiv {
      width: 100%;
      margin: auto;
      flex-flow: row nowrap;
    }
  
    #jpOnLoadBrandDiv {
      padding-top: 10px;
      padding-bottom: 80px;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 90%;
      min-height: 20em;
      margin: auto;
      margin-top: 2em;
      text-align: center;
      background-color: $color5;
      border-left: solid 7em $color8;
      border-right: solid 7em $color8;
      box-shadow: -2px 2px 12px $color4;
    }
  
    #jpOnLoadName {
      font-family: $font7;
      font-weight: 700;
      background-color: transparent;
      letter-spacing: .25em;
      color:  $color4;
      font-size: 5.5em;
      text-transform: uppercase;
      margin-left: -57px;
      margin-top: 30px;
      text-align: center;
    }
  
    .J, .H {
      color: $color5;
    }
  
    #JPbodyHeader {
      font-size: 30px !important;
      letter-spacing: .750em;
      color: transparent; // $color8;
      text-transform: uppercase;
      // margin-left: -10px;
      // margin-top: -500px!important;
      position: relative;
      top: -60px;
      left: -6;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: $color4;
    }
  
    #jpOnLoadTitle {
      color: $color4;
      width: 250%;
      font-family: $font7;
      font-size: 15px !important;
      font-style: italic;
      margin: auto;
      margin-left: -92px;
      margin-top: -55px;
      letter-spacing: .9ch;
    }
  
    #soft, #oper {
      color: $color4;
    }
  }


/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #jpOnLoadDiv {
      width: 60%;
      margin: auto;
      flex-flow: row nowrap;
    }
  
    #jpOnLoadBrandDiv {
      padding-top: 10px;
      padding-bottom: 80px;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 90%;
      min-height: 20em;
      margin: auto;
      margin-top: 2em;
      text-align: center;
      background-color: $color5;
      border-left: solid 10em $color8;
      border-right: solid 10em $color8;
      box-shadow: -2px 2px 12px $color4;
    }
  
    #jpOnLoadName {
      font-family: $font7;
      font-weight: 700;
      background-color: transparent;
      letter-spacing: .25em;
      color:  $color4;
      font-size: 8.5em;
      text-transform: uppercase;
      margin-left: -75px;
      margin-top: 30px;
      text-align: center;
    }
  
    .J, .H {
      color: $color5;
    }
  
    #JPbodyHeader {
      font-size: 45px !important;
      letter-spacing: .72em;
      color: transparent; // $color8;
      text-transform: uppercase;
      // margin-left: -10px;
      // margin-top: -500px!important;
      position: relative;
      top: -85px;
      left: -0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: $color4;
    }
  
    #jpOnLoadTitle {
      color: $color4;
      width: 250%;
      font-family: $font7;
      font-size: 22px !important;
      font-style: italic;
      margin: auto;
      margin-left: -160px;
      margin-top: -55px;
      letter-spacing: .9ch;
    }
  
    #soft, #oper {
      color: $color4;
    }
  }



/* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 

  #jpOnLoadDiv {
    width: 100%;
    margin: auto;
    flex-flow: row nowrap;
    // background-color: $color2;
  }

  #jpOnLoadBrandDiv {
    padding-top: 10px;
    padding-bottom: 80px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    min-height: 20em;
    margin: auto;
    margin-top: 4em;
    text-align: center;
    background-color: $color5;
    // border-radius: 10px;
    border-left: solid 8em $color8;
    border-right: solid 8em $color8;
    box-shadow: -2px 2px 12px $color4;
  }

  #jpOnLoadName {
    font-family: $font7;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: .4em;
    color:  $color4;
    // padding: 5px;
    font-size: 7.5em;
    text-transform: uppercase;
    margin-left: -80px;
    margin-top: 80px;
    text-align: center;
  }

  .J, .H {
    color: $color5;
  }

  #JPbodyHeader {
    font-size: 60px !important;
    letter-spacing: .45em;
    color: transparent; // $color8;
    text-transform: uppercase;
    position: relative;
    top: -70px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $color4;
  }

  #jpOnLoadTitle {
    color: $color4;
    width: 190%;
    font-family: $font7;
    font-size: 18px !important;
    font-style: italic;
    margin: auto;
    margin-left: -79px;
    margin-top: -75px;
    letter-spacing: 1.35ch;
  }

  #soft, #oper {
    color: $color7;
  }
}

