@import '../../../styles/colorsAndFonts.scss';

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 365px) 
//   and (max-device-width: 767px) 
//   and (-webkit-min-device-pixel-ratio: 2) {

//   #jpOnLoadDiv {
//     width: 100%;
//     margin: auto;
//     flex-flow: row nowrap;
//     padding: 20px;
//     // background-color: $color2;
//   }

//   #jpOnLoadBrandDiv {
//     margin-top: 4em!important;
//     padding: 2em;
//     background: url(../../../../imgs/jpBlkGray.jpg);
//     background-repeat: no-repeat;
//     width: auto;
//     height: auto;
//     background-size: contain, cover;
//     margin: auto!important;
//     background-position: center;
//   }

//   #jpOnLoadName {
//     font-family: $font7;
//     font-weight: 700;
//     background-color: transparent;
//     letter-spacing: .3em;
//     color:  $color4;
//     font-size: 850%;
//     text-transform: uppercase;
//     margin-left: 55px!important;
//     margin: auto;
//     text-align: center;
//   }

//   .J, .H {
//     color: $color5;
//   }

//   #JPbodyHeader {
//     font-size: 60px !important;
//     letter-spacing: .45em;
//     color: transparent;
//     text-transform: uppercase;
//     position: relative;
//     top: -65px;
//     left: -12px;
//     -webkit-text-stroke: 2px;
//     -webkit-text-stroke-color: $color4;
//   }

//   #jpOnLoadTitle {
//     color: $color4;
//     font-family: $font7;
//     font-size: .16em !important;
//     font-style: italic;
//     margin-left: -5%;
//     margin-top: -4%;
//     text-align: center;
//     letter-spacing: 1ch;
//   }

//   #soft, #oper {
//     // color: $color7;
//   }
// }



/* ----------- Retina Screens ----------- */
// @media screen 
// and (min-device-width: 766px) 
// and (max-device-width: 1600px) 
// and (-webkit-min-device-pixel-ratio: 2)
// and (min-resolution: 192dpi) { 

  #jpOnLoadDiv {
    width: 100%;
    margin: auto;
    flex-flow: row nowrap;
    padding: 2em;
    // background-color: $color2;
  }

  #jpOnLoadBrandDiv {
    margin-top: 4em!important;
    padding: 2em;
    background: url(../../../../imgs/jpBlkGray.jpg);
    background-repeat: no-repeat;
    width: 35em;
    height: 25em;
    background-size: contain, cover;
    margin: auto!important;
    background-position: center;
  }

  #jpOnLoadName {
    font-family: $font7;
    font-weight: 700;
    background-color: transparent;
    letter-spacing: .3em;
    color:  $color4;
    font-size: 9em;
    text-transform: uppercase;
    margin-left: 55px!important;
    margin: auto;
    text-align: center;
  }

  .J, .H {
    color: $color5;
    height: auto;
  }

  #JPbodyHeader {
    font-size: .45em !important;
    font-size: 45% !important;
    letter-spacing: .45em;
    color: transparent;
    text-transform: uppercase;
    // position: relative;
    // top: -65px;
    // left: -12px;
    // margin-top: -40px!important;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: $color4;
  }

  #jpOnLoadTitle {
    color: $color4;
    font-family: $font7;
    font-size: .16em !important;
    font-style: italic;
    margin-left: -5%;
    margin-top: -4%;
    text-align: center;
    letter-spacing: 1ch;
  }

  #soft, #oper {
    // color: $color7;
  }
// }
// /* ----------- iPhone X ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 2) {
//     #jpOnLoadDiv {
//       width: 100%;
//       margin: auto;
//       flex-flow: row nowrap;
//     }
  
//     #jpOnLoadBrandDiv {
//       padding-top: 10px;
//       padding-bottom: 80px;
//       flex-direction: column;
//       flex-wrap: nowrap;
//       width: 90%;
//       min-height: 20em;
//       margin: auto;
//       margin-top: 2em;
//       text-align: center;
//       // background-color: $color5;
//       background-color: $color7;
//       border-left: solid 7em $color8;
//       border-right: solid 7em $color8;
//       box-shadow: -2px 2px 12px $color4;
//     }
  
//     #jpOnLoadName {
//       font-family: $font7;
//       font-weight: 700;
//       background-color: transparent;
//       letter-spacing: .25em;
//       color:  $color4;
//       font-size: 5.5em;
//       text-transform: uppercase;
//       margin-left: -60px;
//       margin-top: 60px;
//       text-align: center;
//     }
  
//     .J, .H {
//       color: $color5;
//     }
  
//     #JPbodyHeader {
//       font-size: 30px !important;
//       letter-spacing: .7em;
//       color: transparent; // $color8;
//       text-transform: uppercase;
//       position: relative;
//       top: -60px;
//       left: -8;
//       -webkit-text-stroke: 2px;
//       -webkit-text-stroke-color: $color4;
//     }
  
//     #jpOnLoadTitle {
//       color: $color4;
//       width: 250%;
//       font-family: $font7;
//       font-size: 15px !important;
//       font-style: italic;
//       margin: auto;
//       margin-left: -92px;
//       margin-top: -55px;
//       letter-spacing: .8ch;
//     }
  
//     #soft, #oper {
//       color: $color4;
//     }
//   }

  

// /* ----------- iPad ----------- */

// /* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 768px) 
//   and (max-device-width: 1112px)
//   and (-webkit-min-device-pixel-ratio: 2){

//     #jpOnLoadDiv {
//       width: 100%;
//       margin: auto;
//       flex-flow: row nowrap;
//       // background-color: $color2;
//     }
  
//     #jpOnLoadBrandDiv {
//       margin-top: 4em!important;
//       background: url(../../../../imgs/jpBlkGray.jpg);
//       background-repeat: no-repeat;
//       width: 100%;
//       height: 30em;
//       // background-size: contain, cover;
//       margin: auto;
//     }
  
//     #jpOnLoadName {
//       background-position: center; // for fonts
//       font-family: $font7;
//       font-weight: 700;
//       background-color: transparent;
//       letter-spacing: .3em;
//       color:  $color4;
//       font-size: 850%;
//       text-transform: uppercase;
//       margin-left: 55px!important;
//       // margin-top: 80px;
//       margin: auto;
//       text-align: center;
//     }
  
//     .J, .H {
//       color: $color5;
//     }
  
//     #JPbodyHeader {
//       font-size: 60px !important;
//       letter-spacing: .45em;
//       color: transparent; // $color8;
//       text-transform: uppercase;
//       position: relative;
//       top: -65px;
//       left: -12px;
//       -webkit-text-stroke: 2px;
//       -webkit-text-stroke-color: $color4;
//     }
  
//     #jpOnLoadTitle {
//       color: $color4;
//       width: 190%;
//       font-family: $font7;
//       font-size: 18px !important;
//       font-style: italic;
//       margin: auto;
//       margin-left: -225px;
//       margin-top: -45px;
//       letter-spacing: 1.35ch;
//     }
  
//     #soft, #oper {
//       color: $color7;
//     }
// }



// /* ----------- Retina Screens ----------- */
// @media screen 
// and (min-device-width: 1200px) 
// and (max-device-width: 1600px) 
// and (-webkit-min-device-pixel-ratio: 2)
// and (min-resolution: 192dpi) { 

//   #jpOnLoadDiv {
//     width: 100%;
//     margin: auto;
//     flex-flow: row nowrap;
//     // background-color: $color2;
//   }

//   #jpOnLoadBrandDiv {
//     margin-top: 4em!important;
//     background: url(../../../../imgs/jpBlkGray.jpg);
//     background-repeat: no-repeat;
//     width: 45%;
//     height: 30em;
//     background-size: contain, cover;
//     margin: auto;
//     // padding-top: 10px;
//     // padding-bottom: 80px;
//     // flex-direction: column;
//     // flex-wrap: nowrap;
//     // width: 40%;
//     // min-height: 20em;
//     // margin: auto;
//     // margin-top: 4em;
//     // text-align: center;
//     // background-color: $color7;
//     // border-left: solid 8em $color8;
//     // border-right: solid 8em $color8;
//     // box-shadow: -2px 2px 12px $color4;
//   }

//   #jpOnLoadName {
//     background-position: center; // for fonts
//     font-family: $font7;
//     font-weight: 700;
//     background-color: transparent;
//     letter-spacing: .3em;
//     color:  $color4;
//     font-size: 850%;
//     text-transform: uppercase;
//     margin-left: 55px!important;
//     // margin-top: 80px;
//     margin: auto;
//     text-align: center;
//   }

//   .J, .H {
//     color: $color5;
//   }

//   #JPbodyHeader {
//     font-size: 60px !important;
//     letter-spacing: .45em;
//     color: transparent; // $color8;
//     text-transform: uppercase;
//     position: relative;
//     top: -65px;
//     left: -12px;
//     -webkit-text-stroke: 2px;
//     -webkit-text-stroke-color: $color4;
//   }

//   #jpOnLoadTitle {
//     color: $color4;
//     width: 190%;
//     font-family: $font7;
//     font-size: 18px !important;
//     font-style: italic;
//     margin: auto;
//     margin-left: -225px;
//     margin-top: -45px;
//     letter-spacing: 1.35ch;
//   }

//   #soft, #oper {
//     color: $color7;
//   }
// }

