@import '../../../styles/colorsAndFonts.scss';


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) {
        /* Tech page FLEX */
    #techDiv {
        height: inherit;
        }

        #techProf {
            background-color:transparent;
            text-align: center;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 30px;
            max-width: 6em;
            font-family: $font7;
            color:  $color7;
            padding: 5px;
            justify-content: center;
            font-size: 3em;
        } 

        .tech-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-bottom: 0;
            height: inherit;
        }

        .techImg {
            width: 4em;
            align-content: center;
            display: block;
            margin: auto;
            &:hover {
                transform: scale(1.3);
                transition: .5s;
            }
        }

        .techH3 {
            text-align: center;
            color: $color1;
            padding: 20px;
            font-size: 16px;
            font-family: inherit;
        }

        .techImgDiv {
            width: 300px;
            justify-content: center;
            padding-bottom: 2em;
        }

        // ICON REALIGNMENT
            .sassIcon {
                margin-top: 22px;
                margin-bottom: 20px;
            }

            .reactIcon {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .bootstrapIcon {
                margin-top: 10px;
                margin-bottom: 14px;
            }

            .javascriptIcon {
                margin-top: 7px;
                margin-bottom: 8px;
            }
  }


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px) {
              /* Tech page FLEX */
    #techDiv {
        height: inherit;
        }

        #techProf {
            background-color:transparent;
            text-align: center;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 30px;
            max-width: 6em;
            font-family: $font7;
            color:  $color7;
            padding: 5px;
            justify-content: center;
            font-size: 3em;
        } 

        .tech-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-bottom: 0;
            height: inherit;
        }

        .techImg {
            width: 4em;
            align-content: center;
            display: block;
            margin: auto;
            &:hover {
                transform: scale(1.3);
                transition: .5s;
            }
        }

        .techH3 {
            text-align: center;
            color: $color1;
            padding: 20px;
            font-size: 16px;
            font-family: inherit;
        }

        .techImgDiv {
            width: 300px;
            justify-content: center;
            padding-bottom: 2em;
        }

        // ICON REALIGNMENT
            .sassIcon {
                margin-top: 22px;
                margin-bottom: 20px;
            }

            .reactIcon {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .bootstrapIcon {
                margin-top: 10px;
                margin-bottom: 14px;
            }

            .javascriptIcon {
                margin-top: 7px;
                margin-bottom: 8px;
            }
  }   

@media screen 
and (min-device-width: 1200px) {
/* Tech page FLEX */
    #techDiv {
      height: inherit;
    }

    #techProf {
        background-color:transparent;
        text-align: center;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 30px;
        max-width: 6em;
        font-family: $font7;
        color:  $color7;
        padding: 5px;
        justify-content: center;
        font-size: 3em;
    } 


    .tech-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 0;
        height: inherit;
    }

    .techImg {
        width: 4em;
        align-content: center;
        display: block;
        margin: auto;
        &:hover {
            transform: scale(1.3);
            transition: .5s;
        }
    }

    .techH3 {
        text-align: center;
        color: $color1;
        padding: 20px;
        font-size: 16px;
        font-family: inherit;
    }

    .techImgDiv {
        width: 300px;
        justify-content: center;
        padding-bottom: 2em;
    }

    // ICON REALIGNMENT
        .sassIcon {
            margin-top: 22px;
            margin-bottom: 20px;
        }

        .reactIcon {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .bootstrapIcon {
            margin-top: 10px;
            margin-bottom: 14px;
        }

        .javascriptIcon {
            margin-top: 7px;
            margin-bottom: 8px;
        }
    }