@import '../../../styles/colorsAndFonts.scss';

/* Tech page FLEX */
    #technologiesPage {
      
    }

    #techProf {
        font-family: $font7;
        background-color:transparent;
        border-radius: 3px;
        color:  $brandHoverFontC;
        padding: 5px;
        text-align: center;
        margin-bottom: 0;
        margin: auto;
        margin-top: 90px;
        font-size: 3em;
        max-width: 6em;
    } 

    .tech-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 55px;
        height: 20em;
    }

    .techImg {
        width: 3.5em;
        align-content: center;
        display: block;
        margin: auto;
        &:hover {
            transform: scale(1.3);
            transition: .5s;
        }
    }

    .techH3 {
        text-align: center;
        color: $hoverBtnBg2;
        padding: 30px;
    }

    .techImgDiv {
        width: 20em;
        justify-content: center;
        padding-bottom: 2em;
    }


    
